<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/bootstrap/4.5.0/css/bootstrap.min.css">

        <!-- Awesome Icons -->
        <link rel="stylesheet" href="/static/fontawesome/5.13.0/css/all.css">

        <!-- Favicons -->
        <meta name="theme-color" content="#563d7c">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />

        <title>Bumbo http control interface</title>

        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
        </style>

        <!-- Custom styles for this template -->
        <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Bumbo, why not?</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main role="main" class="container">
            <div class="row">
                <div class="col">
                    <h2>Camera view</h2>
                    <img src="{{ url_for('video_feed') }}" class="img-fluid">
                </div>
                <div class="col-md-auto">
                    <h2>Dashboard</h2>
                    <p>Right track power: <b><span id="right_track">0</span></b></p><input type="range" class="custom-range" min="-100" max="100" value="0" disabled="true" readonly id="right_track">
                    <p>Left track power: <b><span id="left_track">0</span></b></p><input type="range" class="custom-range" min="-100" max="100" value="0"  disabled="true" readonly id="left_track">
                    <h2>Control pannel</h2>

                    <button type="button" class="btn btn-secondary" style="font-size:24px" id="move_forward" data-toggle="tooltip" title="Move forward"><i class="fa fa-arrow-up"></i></button>
                    <button type="button" class="btn btn-secondary" style="font-size:24px" id="move_backwards" data-toggle="tooltip" title="Move backwards"><i class="fa fa-arrow-down"></i></button>
                    <button type="button" class="btn btn-secondary" style="font-size:24px" id="turn_left" data-toggle="tooltip" title="Turn left"><i class="fa fa-arrow-left"></i></button>
                    <button type="button" class="btn btn-secondary" style="font-size:24px" id="turn_right" data-toggle="tooltip" title="Turn right"><i class="fa fa-arrow-right"></i></button>
                    <button type="button" class="btn btn-secondary" style="font-size:24px" id="rotate_right" data-toggle="tooltip" title="Rotate left"><i class="fa fa-redo"></i></i></button>
                    <button type="button" class="btn btn-secondary" style="font-size:24px" id="rotate_left" data-toggle="tooltip" title="Rotate right"><i class="fa fa-undo"></i></button>
                </div>
            </div>
        </main>

        <footer class="footer" style="font-size:12px">
            <div class="container">
                <span class="text">Version: <b>{{ bumbo_version }}</b> | </span>
                <span class="text">Temperature: <b>{{ temp }}°C</b> | </span>
                <span class="text">Relative humidity: <b>{{ hum }}%</b> | </span>
                <span class="text">Async mode is: <b>{{ async_mode }}</b> | </span>
                <span class="text">Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></span>
            </div>
        </footer>

        <script src="/static/socket.io/2.2.0/socket.io.js"></script>
        <script src="/static/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="/static/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="/static/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="/static/js/bumbo.js"></script>
    </body>
</html>
